@model WebApiChartsInvestV2.Web.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Edita Usuário";
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-user'></i> Web Chart Invest <span class='fw-300'>Edit User</span>
    </h1>
    <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
        <div class="d-inline-flex flex-column justify-content-center mr-3">
            <div class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></div>
        </div>
        <span class="sparklines hidden-lg-down" sparkType="bar" sparkBarColor="#fe6bb0" sparkHeight="32px" sparkBarWidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"></span>
    </div>
</div>

<form method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary-700 bg-success-gradient"><h3>Edit User</h3></div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="alert-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Id" disabled class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Email" class="form-control" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="UserName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="UserName" class="form-control" required>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="FirstName" class="form-control" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="LastName" class="form-control" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Image" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Atualiza</button>
                    <a asp-action="ListUsers" class="btn btn-danger">Cancela</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr />

    <div class="card">
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                <table class="table-sm table-bordered table-hover table-striped w-100">
                    <thead class="bg-primary-600">
                        <tr>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@role</td>
                            </tr>
                        }
                    </tbody>
                </table>


            }
            else
            {
                <h5 class="card-title">Sem roles</h5>
            }
        </div>
        <div class="card-footer">
            <a href="#" style="width:auto" class="btn btn-primary">
                Manage Roles
            </a>
        </div>
    </div>
    <hr />

    <div class="card mt-3">

        <div class="card-body">
            <table class="table-sm table-bordered table-hover table-striped w-100">
                <thead class="bg-primary-600">
                    <tr>
                        <th>Claims</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Claims.Any())
                    {
                        foreach (var claim in Model.Claims)
                        {
                            <tr>
                                <td>@claim</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No Claims</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <a href="#" style="width:auto" class="btn btn-primary">
                Manage Claims
            </a>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
}