@model IEnumerable<WebApiChartsInvestV2.Model.Entities.Portfolio>

@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-passport'></i> Web Chart Invest <span class='fw-300'>Portfolio List</span>
    </h1>
    <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
        <div class="d-inline-flex flex-column justify-content-center mr-3">
            <div class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></div>
        </div>
        <span class="sparklines hidden-lg-down" sparkType="bar" sparkBarColor="#fe6bb0" sparkHeight="32px" sparkBarWidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"></span>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<div class="card">
    <div class="card-body">
        <table id="dt-basic" class="table table-bordered table-hover table-striped w-100">
            <thead class="bg-primary-600">
                <tr>
                    <th style="width:15%;"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.PortfolioName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PortfolioId" class="btn btn-primary btn-icon" title="Edit"><i class="fal fa-edit"></i></a>
                            <a href="javascript:void(0);" class="btn btn-danger btn-icon delete" id="@item.PortfolioId" title="Delete"><i class="fal fa-trash-alt"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortfolioName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">

    </div>
</div>

@section Scripts {
    <script src="~/js/custom/CustomScript.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": true,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 100,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(".delete").click(function () {
            var id = $(this).attr("id");

            //Sweet Alert V2
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    //Action is here
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        cache: false,
                        url: "/Portfolio/DeletePortfolio",
                        data: {
                            id: id
                        },
                        success: function (response, textStatus, jqXHR) {
                            if (response.deleted == "true") {

                                toastr["success"]("Portfolio deleted successfully.");

                                //location.reload();
                                $("#dt-basic").change(location.reload());

                                return true;
                            }
                            else {
                                toastr["error"]("Error in deleted Portfolio.");
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            toastr["info"]("Error in deleted Portfolio.");
                            //alert('Error - ' + errorThrown);
                        }
                    });
                } else {
                    Swal.fire("Cancelled", "Portfolio is safe.", "error");
                    return false;
                }
            })
        });
    </script>

}